.cards{
    margin-top: 10px;
    display: flex;
    /* box-shadow: 1px 1px 1px 1px #888888c8; */
}

.card img{
    width: 100px;
    height: 100px;
}

.dDetails{
    display: flex;
    align-items: center;
    width: 100%;

}

.dDetails-inner{
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: end; */

}

.dDetails-inner-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.dDetails-inner-button button{
    width: 200px;
    height: 60px;
    background: white;
    border: 2px solid #017fc4;
    border-radius: 6px;
    color: #017fc4;
}

.dDetails-inner-button button:hover {
    background-color: #017fc4;
    color: white;
}