.cards {
    margin-top: 10px;
    display: flex;
    /* box-shadow: 1px 1px 1px 1px #888888c8; */
}

.doctors {
    /* display: flex; */
    width: 600px;
    margin: 50px 30px 0 30px;
}

.doctors-outer {
    display: flex;
}

.card img {
    width: 100px;
    height: 100px;
}

.dDetails {
    display: flex;
    align-items: center;
    width: 100%;

}

.dDetails-inner {
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: end; */

}

.dDetails-inner-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.dDetails-inner-button button {
    width: 200px;
    height: 60px;
    background: white;
    border: 2px solid #017fc4;
    border-radius: 6px;
    color: #017fc4;
}

.dDetails-inner-button button:hover {
    background-color: #017fc4;
    color: white;
}

/* .appointment{
    margin-left: 90px;
} */

/* appointment */
.frm-ht {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 60px;
    max-width: 800px;
    max-height: 800px;
    /* margin: auto; */
    margin-left: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-control,
.form-select {
    /* border: 1px solid #007bff !important; */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#searchDttype input {
    border: none;
}