.cards{
    margin-top: 10px;
    display: flex;
    /* box-shadow: 1px 1px 1px 1px #888888c8; */
}

.card img{
    width: 100px;
    height: 100px;
}

.dDetails{
    display: flex;
    align-items: center;
}