#sf{
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
}

#nav-a{
    color: black;
}
#nav-a:hover{
    color: #006298;
}

.nav-div{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1px 0 0 0;
}
#nav{
    color: black;
}

#search{
    border: none;
}

#submit-button a img{
    height: 20px;
    width: 20px;
    margin: 4px 4px 0 0;
}
#search-btn{
    width: 50px;
}
.search{
    display: flex;
    border: 1px solid black;
    border-radius: 7px;
}
#loginbtn{
    width: 90px;
}

#signupbtn{
    margin: 0 7px 0 7px;
    width: 90px;
}

.button{
    background: white;
    border: 2px solid #017fc4;
    width: 40px;
    height: 38px;
    border-radius: 6px;
    color: #017fc4;
}
.button:hover{
    background-color: #017fc4;
    color: white;
    width: 40px;
    height: 38px;
}

.col{
    padding: 0;
}

#details{
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -170px;
    margin-bottom: 390px;
}
/* .card{
    margin-left: 90px;
} */
.services {
    gap: 50px;
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;

}
.services div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services button{
    background-color: white;
    border: 1px solid #017fc4;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 15px;
}
.services button:hover{
    background-color: #017fc4;
    color: white;
}
/* .cards{
    height: 200px;
} */
.ourservices{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners{
    gap: 50px;
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    align-items: center; 
}
.ourpartners{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    display: flex;
    gap: 200px;
    margin-top: 250px;
}

.footer-inner{
    margin-left: 20px;
}
#subscribe{
    margin-left: 150px;
}
#footera{
    margin: 0;
}
#copyright{
    margin-top: 30px;
}
a{
    text-decoration: none;
}
#carouselExampleControls{
    height: 0px;
    margin: 40px 0 250PX 0;
}